.next
node_modules
.env
.env.local
.env.*.local
firebase-adminsdk.json
secrets/firebase-adminsdk.json
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log
coverage
secrets/
*.pem
*.key
*.p12
*.pfx
functions/lib
functions/node_modules
.DS_Store
*firebase-adminsdk*.json

.firebase/
